.headerLp {
    position: absolute;
    left: 0px;
    height: 120px;
    width: 100%;

    .logoSec {
        svg {
            height: 60px;
            width: auto;

            path {
                &:nth-child(3) {
                    fill: #fff;
                }

                &:nth-child(4) {
                    fill: #fff;
                }
            }

        }
    }
}