.innerServices {
    .scrollingTitle {
        position: sticky;
        top: 120px;
    }

    .scrollingBox {

        .scrollingItem {
            padding: 30px;
            background: rgba(255, 255, 255, 0.08);
            border: 1px solid rgba(172, 181, 190, 0.2);
            box-shadow: 0px 0px 40px rgba(68, 90, 106, 0.06);
            border-radius: 23px;
            margin-bottom: 20px;
            height: auto;


            h5 {
                margin-bottom: 10px;
                color: #393939;

                &::after {
                    content: '';
                    background: #ff7f3e;
                    height: 3px;
                    width: 100px;
                    display: block;
                    margin-top: 10px;
                }
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                letter-spacing: -0.167059px;
                color: #73858F;
            }

            &:hover {
                background: #ff7f3e;


                h5,
                p {
                    color: #fff;
                }
            }
        }
    }
}